{% extends 'common/base.html' %} {% block title %}Events Page that{% endblock %}
{% load static %} {% block content %}

<div>
	<div
		class="w-full relative bg-center bg-cover"
		style="
			background-image: url('{% static 'images/ministries/worshipImg.jpeg' %}');
			height: 620px;
		"
	>
		<p
			class="absolute left-1/2 transform -translate-x-1/2 text-white text-center uppercase"
			style="top: 35%"
		>
			<span
				class="block text-8xl font-semibold text-transparent"
				style="-webkit-text-stroke: 2px white"
				>Events</span
			>
			<span class="text-4xl"
				>Be part of the revival experience the power of God</span
			>
		</p>
	</div>
	<div class="bg-white flex flex-col lg:gap-24 justify-center w-full lg:p-32">
		{% for event in events %}
		<div class="flex items-start p-4 w-full lg:gap-6 bg-white">
			<div class="relative h-56">
				<img
					src="{% static event.image_url %}"
					alt="Event Image"
					class="w-full h-full object-cover rounded-lg"
				/>
				<div
					class="absolute top-8 -right-12 bg-white uppercase z-1 text-black flex flex-col items-center justify-center p-2 w-32 h-48 rounded-tl-2xl"
				>
					<span class="text-2xl font-medium">jan</span>
					<span class="text-7xl">22</span>
				</div>
			</div>

			<div class="w-2/3 lg:pl-6 border-t border-gray-500 h-56 lg:pt-6">
				<div class="h-full border-l border-gray-500 lg:pl-6">
					<div class="w-full flex justify-between">
						<h2 class="text-3xl font-semibold capitalize">{{event.title}}</h2>
						{% if event.is_ongoing %}
						<p
							class="p-2 text-red-500 rounded-2xl text-sm uppercase font-semibold"
							style="background-color: #09a9fb24"
						>
							on-going
						</p>
						{% endif %}
					</div>
					<p class="text-lg lg:mt-6">{{event.description}}</p>
					<div
						class="flex items-center text-red-500 text-sm font-semibold mt-4"
					>
						<img src="{% static "images/events/locationpin.png"%}"
						alt="location-pin" style="height:30px;">
						<span>JCRM</span>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>

{% endblock %}
