{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}JCRM{% endblock %}</title>
    
    <!-- Import Tailwind CSS -->
    {% include 'dependencies/css.html' %}
  
</head>
<body class="bg-gray-100 text-gray-900  ">

    {% include 'common/header.html' %}

    <div class="w-full  ">
        {% block content %}{% endblock %}
    </div>

    {% include 'common/footer.html' %}

    <!-- Import JavaScript -->
    {% include 'dependencies/js.html' %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/js/all.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    {% load django_browser_reload %}
    {% django_browser_reload_script %}
</body>
</html>
