{% extends 'common/base.html' %} {% block title %}JCRM: Ministries{% endblock %}
{% load static %} {% block content %}
<div
	class="w-full relative bg-center bg-cover"
	style="
		background-image: url('{% static 'images/ministries/worshipImg.jpeg' %}');
		height: 620px;
	"
>
	<p
		class="absolute left-1/2 transform -translate-x-1/2 text-white text-center uppercase"
		style="top: 35%"
	>
		<span
			class="block text-8xl font-semibold text-transparent"
			style="-webkit-text-stroke: 2px white"
			>Ministries</span
		>
		<span class="text-4xl">Serve,grow and connect</span>
	</p>
</div>
<div class="lg:py-32 w-full flex flex-col lg:gap-36 items-center bg-white">
	<div
		class="w-2/3 h-56 bg-gray-100 shadow-md text-center content-center lg:px-12"
	>
		Ministries are the heartbeat of JCRM. They are more than just programs—they
		are opportunities to live out your faith, build meaningful relationships,
		and make a lasting impact in our church and community. Through our
		ministries, we grow together in Christ, serve those in need, and share the
		love of Jesus with the world. No matter where you are in your spiritual
		journey, there’s a ministry that’s right for you.
	</div>
	<div class="lg:pt-4 lg:pb-56 w-4/5 space-y-32">
		<p class="font-semibold text-5xl text-center uppercase">
			MINISTRY CATEGORIES
		</p>
		{% for ministry in ministries %}
		<div class="w-full flex justify-between">
			<div class="space-y-8" style="width: 45%">
				<p
					class="font-bold text-2xl text-transparent bg-clip-text gradient-primary"
				>
					{{ ministry.title }}
				</p>
				<p>{{ ministry.description}}</p>
				<button>Learn more</button>
			</div>
			<div
				class="bg-center bg-cover rounded-md"
				style="
					background-image: url('{% static ministry.image_url %}');
					width: 450px;
				"
			></div>
		</div>
		{% endfor %}
	</div>
	<div
		class="bg-gray-200 space-y-8 lg:pt-8 lg:pb-16 lg:px-20"
		style="width: 55%"
	>
		<p
			class="text-center font-semibold text-4xl text-transparent bg-clip-text gradient-primary"
		>
			Get Involved
		</p>
		<div class="grid grid-cols-2 lg:gap-y-32 lg:gap-x-10">
			{% for action in get_involved_actions%}
			<div class="flex flex-col gap-2">
				<div class="flex gap-4">
					<img
						class="size-6"
						src="{% static action.icon_path %}"
						alt="icon-svg"
					/>
					<p class="font-semibold text-xl">{{action.title}}</p>
				</div>
				<p class="text-slate-700">{{action.description}}</p>
			</div>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}
